extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1= `${locals.projectName}`

        p.lead.text-light= locals.description

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        ul
          each technology in locals.technologies
            li= technology

        a.button.expanded(href=`${locals.liveLink}`) Live Demo
        a.button.expanded(href=`${locals.gitHub}`) GitHub Repo
    
    img.image(src=`/static/images/${locals.id}/${locals.id}-0.png` width='1200' height='550')
    img.image(src=`/static/images/${locals.id}/${locals.id}-1.png` width='1200' height='550')
    img.image(src=`/static/images/${locals.id}/${locals.id}-2.png` width='1200' height='550')